// стили навигации
.header {
    display: flex;
    flex-direction: row;
    padding: 10px;
    padding-left: 60px;
    position: fixed;
    top: 0;
    z-index: 3;
    background-color: #fff;
    width: inherit;
    color: black;

}
.navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    & > * {
        margin-left: 10px;
    }
}

// .header, .calendar__header {
//     position: fixed;
//     top: 0;
//     left: 0;
//     width: 100%;
//     z-index: 1;
//   }